@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Open+Sans&family=Raleway:ital@1&family=Roboto:wght@500&family=Tajawal:wght@200;400&display=swap');
*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    min-width: 40vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    
}

.title{
    flex:2;
    max-width: 100%;
    height: 37px;
    background-color:transparent;
    font-family: 'Roboto',sans-serif;
    font-size: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.box-time{
    flex:6;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 80px;
    column-gap: 20px;
    height: calc(100% - 37px);
    
}

.time{
    height: 100%;
    width: 100%;
    
}
.clean{
    background: none;
}

.number{
    width: 100%;
    height: 80%;
    background-color: slateblue;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clean-box{
    width: 100%;
    height: 80%;
}
.clock-part,.time-am{
    height: 20%;
    background-color: darkblue;
}
.time-am{
    background-color: green;
}
.clean-box{
    background-color: none;
}

.number,.clock-part,.time-am{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.par{
    font-size: 60px;
    font-family: 'Tajawal',sans-serif;
    font-weight: bold;
}
.par-2{
    font-family: 'Open Sans',sans-serif;
    
}